@primary-color: #409eff;

body {
    margin: 0 !important;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.float-left {
    width: 100%;
    height: auto;
    float: left;
}

.w-100 {
    width: 100%;
}

.ml-5 {
    margin-left: 5px;
}

.mt-15 {
    margin-top: 15px;
}